.slide-pane__header {
  flex: 0 0 100px !important;
  background: #746A5C !important;
  height: 100px !important;
}

.slide-pane .slide-pane__title {
  font-size: 24px !important;
  font-weight: 600 !important;
  color: #fff !important;
}